$primary-color: #fff;
$secondary-color: #000;
$content-color: #222;

// $breakpoint-xxl: 1399px;
// $breakpoint-xl: 1199px;
// $breakpoint-lg: 991px;
// $breakpoint-md: 767px;
// $breakpoint-md-additional: 600px;
// $breakpoint-sm: 575px;
// $breakpoint-xs: 375px;
